.root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .inputContainer {
    width: 15rem;
    text-align: center;
    margin: 2rem;
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    .card {
      width: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      &__button {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;

        .red {
          background-color: red;
        }
      }
    }
  }
}
