.shape {
  margin: 20px;
  border: 2px solid black;
  cursor: pointer;
  background-color: aqua;
}
.rectangle {
  width: 200px;
  height: 100px;
}
.square {
  height: 100px;
  width: 100px;
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
}
