.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.containerForm {
  max-width: 20rem;
  margin: 1rem;
}
.containerForm__form {
  display: flex;
}
.containerAnswer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  column-gap: 5rem;
  row-gap: 1rem;
  border-top: 1px solid grey;
  padding: 2rem;
}
.containerAnswer__card {
  width: 18rem;
  text-align: start;
  padding: 1rem;
}
.containerAnswer__card__text {
  font-size: 3rem;
}
